*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --blue: #1a3365;
    --yellow: #ffbb00;
    --white: #ffffff;
    --red: #ff4343;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    font-family: 'Open Sans', sans-serif;
}
button{
    border: none;
    border: solid var(--yellow) 2px;
    background: transparent;
    padding: 7px 15px;
    border-radius: 100px;
    color: var(--yellow);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .5rem;
    transition: .25s;
    cursor: pointer;
}
button:hover{
    background: var(--yellow);
    color: var(--blue);
}
li{
    list-style: none;
}
nav{
    display: flex;
    justify-content: space-around;    
}
li.active{
    background-color: orange;
}
#app{

}
.profile{
    position: fixed;
    top: 50px;
    right: 50px;
}
.habits{
    width: 500px;
}
.habits .habit{
    margin: 20px 0;
}
.habit.active header{
    border-radius: 20px 20px 0 0;
}

.habit.active .info{
    max-height: 1000px;
    padding: 10px;
    width: 100%;
}
.habit header{
    display: flex;
    border: var(--blue) solid 3px;
    justify-content: space-between;
    padding: 3px;
    border-radius: 30px;
    color: var(--blue);
    cursor: pointer;
    transition: .5s;
}
.habit header:hover,
.habit.active header{
    background: var(--blue);
    color: var(--yellow);
}
.habit header h2{
    width: 100%;
    margin-left: 10px;
    font-weight: normal;
}

.habit .info{
    width: 90%;
    margin: auto;
    max-height: 0;
    overflow: hidden;
    background: var(--blue);
    color: var(--yellow);
    transition: 
        max-height 0.5s cubic-bezier(0, 1, 0, 1), 
        padding 0.5s,
        width 0.5s;
}